<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KillBase: Contracts</title>
    <script defer src="index.js"></script>
  </head>
  <body>

    <div class="header">
      <a href="#default" onclick="window.location.href='../index.html'"class="logo">KillBase</a>
      <div class="header-right">
        <a href="#assassins" onclick="window.location.href='../assassins.html'">Assassins</a>
        <a href="#contracts" onclick="window.location.href='../contracts.html'">Contracts</a>
      </div>
    </div>

    <img src="../image/danger.jpg" width="100px" height="100px" alt="logo">

    <h2>Available Contracts</h2>

        <% for (let i = 0; i < data.length; i++) { %>
          <table>
            <thead>
              <tr>
            <th>Client: <%= data[i].client_id%></th>
            <th>Weapon: <%= data[i].weapon%></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Age: <%= data[i].age%></td>
            <td>Price: <%= data[i].price%></td>
            <td>Rating: <%= data[i].rating%></td>
            <td>Kills: <%= data[i].kills%></td>
          </tr>
        </tbody>
      </table>
          <hr>
          <% } %>




    <link rel="stylesheet" href="../assassins.css">
  </body>
</html>
